<table
  role="presentation"
  width="100%"
  cellpadding="0"
  cellspacing="0"
  border="0"
>
  <tr>
    <td style="padding-bottom: 20px">
      <p style="margin: 0; font-size: 16px; color: #161616">Bonjour,</p>
    </td>
  </tr>
  <tr>
    <td style="padding-bottom: 20px">
      <p style="margin: 0; font-size: 16px; color: #161616; line-height: 1.5">
        Sur l'application suivante:
        <strong style="color: #000091">{{applicationName}}</strong>.
        <br />
        Votre signalement:
        <strong style="color: #000091">{{description}}</strong>
        <br />
        Est passé en état:
        <strong style="color: #000091">{{status}}</strong>.
        <br />
        {{notes}}
      </p>
    </td>
  </tr>
  <tr>
    <td
      style="
        padding: 20px 0;
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
      "
    >
      <p style="margin: 0; font-size: 14px; color: #666666; line-height: 1.5">
        Si vous pensez avoir reçu cet email par erreur, veuillez contacter
        l'administrateur de l'application.
      </p>
    </td>
  </tr>
  <tr>
    <td style="padding-top: 20px">
      <p style="margin: 0; font-size: 16px; color: #161616">
        Cordialement,<br />
        <strong style="color: #000091"
          >L'équipe Référentiel des Applications</strong
        >
      </p>
    </td>
  </tr>
</table>
