html,
body,
#app {
  height: 100%;
}

.h-full {
  height: 100%;
}

.button-right {
  margin: 1em;
  display: flex;
  justify-content: flex-end;
}

.truncate {
  display: inline-block;
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
